.swiper {
    padding: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}

.swiper-button-prev {
    color: red;
}

.swiper-button-next {
    color: red;
}